@use "./variables" as *;

.primary-button {
  font-weight: 600;
  text-transform: uppercase;
}
.header-dropdown-menu-items {
  color: #4d4c4c;
  text-decoration: none;
  font-weight: 500;
  font-size: 18;
  padding: 0.5rem 0;
}
.notification_badge{
  top: 24px;
}