$poppins: "Poppins", sans-serif;


.w-full {
  width: 100%;
}
.vh-100 {
  height: 100vh;
}
.mvh-100 {
  min-height: 70vh;
}
.vh-80 {
  height: 80vh;
}
.v-full {
  height: 100%;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-wrap {
  flex-wrap: wrap;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.gap{
  gap: 0.5rem;
}
.gap-1 {
  gap: 1rem;
}
.gap-2 {
  gap: 2rem;
}
.gap-4 {
  gap: 4rem;
}
.m-1 {
  margin: 1rem;
}
.m-2 {
  margin: 2rem;
}
.m-4 {
  margin: 4rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-2 {
  margin-left: 2rem;
}
.ml-4 {
  margin-left: 4rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-2 {
  margin-right: 2rem;
}
.mr-4 {
  margin-right: 4rem;
}
.mt-1 {
  margin-top: 1rem;
}
.mt-2 {
  margin-top: 2rem;
}
.mt-4 {
  margin-top: 4rem;
}

.mb-1 {
  margin-bottom: 1rem;
}
.mb-2 {
  margin-bottom: 2rem;
}
.mb-4 {
  margin-bottom: 4rem;
}

.p-1 {
  padding: 1rem;
}
.p-2 {
  padding: 2rem;
}
.p-4 {
  padding: 4rem;
}
.px-1{
  padding: auto 1rem;
}
.px-2{
  padding: auto 2rem;
}
.py-1{
  padding: 1rem auto;
}
.py-2{
  padding: 2rem auto;
}

.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-uppercase {
  text-transform: uppercase;
}
.text-capitalize {
  text-transform: capitalize;
}


.text-white {
  color: #fff;
}
.text-black {
  color: #000;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}
.font-1{
  font-size: 1rem;
}
.font-2{
  font-size: 2rem;
}
.font-0_6{
  font-size: 0.6rem;
}
.font-0_7{
  font-size: 0.6rem;
}
.font-0_8{
  font-size: 0.8rem;
}
.font-0_9{
  font-size: 0.9rem;
}
.font-1_2{
  font-size: 1.2rem;
}
.font-1_4{
  font-size: 1.4rem;
}
.font-1_5{
  font-size: 1.5rem;
}
.table-semibold-text{
  font-weight: 600;
  color: #242424;
}
.primary-color {
  color: #1677ff;;
}
